@import './reset.css';
@import './../assets/fonts/Roboto/styles.css';

* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-grow: 1;
}


html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
}