.header {
    flex-shrink: 0;
    padding: 25px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);


    &__right-selected, &__right-value, &__left-title {
        background: #5a67d8;
        color: white;
        padding: 5px 15px;
        border-radius: 10px;
    }

    &__right {
        display: flex;
        gap: 20px;
    }
    
}